:root {
  --primary-color: #4f46e5;
  --secondary-color: #6366f1;
  --background-color: #f9fafb;
  --card-color: #ffffff;
  --text-color: #111827;
  --muted-text: #6b7280;
  --success-color: #10b981;
  --danger-color: #ef4444;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: var(--background-color);
  color: var(--text-color);
  line-height: 1.2;
}

h2,
h3,
h4 {
  color: var(--primary-color);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.actions {
  display: flex;
  margin: 20px 10px;
  padding: 10px;
  gap: 10px;
}

.button {
  background-color: #4f46e5;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
  background-color: #4338ca;
  transform: translateY(-2px);
}

.button:active {
  background-color: #3730a3;
  transform: translateY(0);
}

.delete-button {
  background-color: #ef4444;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.delete-button:hover {
  background-color: #ee6262;
  transform: translateY(-2px);
}

.delete-button:active {
  background-color: #f02d2d;
  transform: translateY(0);
}

.secondary-button {
  background-color: transparent;
  color: black;
  padding: 10px 20px;
  border: 1px solid #4f46e5;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.secondary-button:hover {
  background-color: #4338ca;
  color: white;
  transform: translateY(-2px);
}

.secondary-button:active {
  background-color: #3730a3;
  color: white;
  transform: translateY(0);
}
.secondary-button:disabled {
  background-color: transparent;
  cursor: not-allowed;
  color: black;
  transform: translateY(0);
}

.ellipsis-text {
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  display: inline-block;
}

.padding-top {
  padding-top: 40px;
}

.title-text {
  margin: 20px 0px;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 24px;
  color: #1f2937;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  min-width: 800px;
  border-collapse: collapse;
}

thead {
  background: #6366f1;
  color: white;
}

th,
td {
  padding: 14px 20px;
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: #f3f4f6;
}

tbody tr:hover {
  background-color: #e0e7ff;
}

.card {
  background: white;
  border-radius: 12px;
  padding: 16px;
  margin-bottom: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.card h3 {
  margin-bottom: 10px;
  color: #1f2937;
}

.card p {
  margin: 4px 0;
  color: #4b5563;
}
